{
	"targets": {
		"safari": "14"
	},
	"plugins": [
		"@babel/plugin-proposal-class-properties",
		"babel-plugin-transform-flow-enums"
	],
	"presets": [
		[
			"@babel/preset-env", {
				useBuiltIns: false
			}
		],
		"@babel/preset-flow",
		"@babel/preset-react"
	]
}
