body {
	--color-validation: red;
	--color-separator: var(--color-foreground);
	--color-link: #180;
	--color-foreground: #030;
	--color-background: white;
	--color-shadow: var(--color-foreground);
	--color-focus-ring: #180;
	--shadow-drop: 2px 2px var(--color-shadow);
	--shadow-drop-active: 1px 1px inset var(--color-shadow), 1px 1px var(--color-shadow);
}

@media (prefers-color-scheme: dark) {
	body {
		--color-link: #180;
		--color-foreground: white;
		--color-background: #222;
		--color-separator: #ddd;
		--color-shadow: #efe;
		--color-focus-ring: #180;
	}
}

a {
	color: var(--color-link);
}

body, textarea, input, button {
	background: var(--color-background);
	color: var(--color-foreground);
}

button {
	border: 1px solid var(--color-separator);
	box-shadow: var(--shadow-drop);
}
button:active {
	box-shadow: var(--shadow-drop-active);
}
button + button {
	margin-left: 8px;
}

textarea, input {
	border: 1px solid var(--color-separator);
}
:focus-visible {
	outline: 2px solid var(--color-focus-ring);
	outline-offset: -1px;
}

#main-menu {
}

#main-menu a {
	margin-left: 1rem;
}

[draggable] {
	cursor: grab;
}

#main-menu a:first-child {
	margin-left: 0;
}

.action-button-list {
	text-align: right;
}

.action-button-list button {
	margin-left: 1rem;
}

.action-button-list button:first-child {
	margin-left: 0;
}

.project-list__item {
	padding: 10px 0;
}

.project-list__item h3 {
	margin-top: 0;
}

.project-list__item--wrapper {
	border-top: 1px solid var(--color-separator);
}

.project-list__item--wrapper:first-of-type {
	margin-top: 20px;
}

.validation-error {
	color: var(--color-validation);
}

.net-req-container {
	max-width: 500px;
	width: 90vw;
	position: fixed;
	top: 3rem;
	right: 3rem;
	background: var(--color-background);
	color: var(--color-foreground);
	padding: 1rem 1rem;
	border: 1px solid var(--color-separator);

	display: grid;
	grid-template-areas: "message updated-at status buttons";
	column-gap: 1rem;
	row-gap: 0.5rem;
	grid-template-columns: [col-start] 1fr max-content max-content max-content [col-end];
}

.net-req {
	display: grid;
	grid-column: col-start / col-end;
	grid-template-columns: subgrid;
}

.net-req__message {
	grid-area: message;
}

.net-req__status {
	grid-area: status;
}

.net-req__updated-at {
	grid-area: updated-at;
}

.net-req__button {
	grid-area: buttons;
}

@supports not (grid-template-rows: subgrid) {
	.net-req {
		grid-template-areas: "message updated-at status buttons";
		grid-template-columns: [col-start] 1fr max-content max-content max-content [col-end];
		column-gap: 1rem;
	}
}
