#main-menu {
}

#main-menu a {
	margin-left: 1rem;
}

#main-menu a:first-child {
	margin-left: 0;
}

.action-button-list {
	text-align: right;
}

.action-button-list button {
	margin-left: 1rem;
}

.action-button-list button:first-child {
	margin-left: 0;
}
